@page "/"
@using System.Text.Json;
@using BlazorServerAPI.Models;
@inject HttpClient Http

<p>@_activity</p>
<button onclick=@(async () => await PrintWebApiResponse())>Print Web API 
    Response</button>

@functions {
    public List<string> apiData = new List<string>();
    public string _activity;
    
    protected override async Task OnInitializedAsync()
    {
        await PrintWebApiResponse();
    }

    private async Task PrintWebApiResponse()
    {
        var response = await Http.GetStringAsync("https://www.boredapi.com/api/activity/");
        Data? factData = JsonSerializer.Deserialize<Data>(response);
        Console.WriteLine(response);
        Console.WriteLine(factData.activity);
        _activity = factData.activity;
    }
}
